/* ESTILO EXPERIENCIA */

:root {
  --font-color-h2: #e0e0e0;
  --font-color-p: #525252;
  --font-color-strong: #141414;
  --fundo-color: #f5f5f5;
  --fundo-color-li: #ffffff;
}

@media(prefers-color-scheme: dark) { /*config dark */
  :root {
    --font-color-h2: #efefef;
    --font-color-p: #c2c2c2;
    --font-color-strong: #ffffff;
    --fundo-color: #ffffff;
    --fundo-color-li: #525252;
    --font-color-li: #ffffff;
    --font-color-empresa: #141414;
  }
}

.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;


  & .subtitulo {
    color: var(--font-color-h2);
  }


  & .experiencia_texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: var(--font-color-p);

    & strong {
      color: var(--font-color-strong);
    }
  }


  & .empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 20px;
    background: var(--fundo-color);
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
  }

  & .empresa::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    top: 20px;
    left: -4px;
  }

  & .empresa_ano {
    position: absolute;
    top: 22px;
    left: -100px;
    text-align: right;
    width: 80px;
    color: var(--font-color-p);
    font-size: 0.875rem;
  }

  & .empresa_titulo {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
  }

  & .empresa_texto {
    font-size: 0.875rem;
    line-height: 1.4;
    color: var(--font-color-empresa);
  }

  .empresa_habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
    color: var(--font-color-li);


    & li {
      font-size: 0.875rem;
      line-height: 1.4;
      border-radius: 4px;
      background: var(--fundo-color-li);
      padding: 5px 10px;
    }
  }
}


@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    color: var(--font-color-strong);
  }

  .experiencia .experiencia_texto {
    font-size: 1.25rem;
  }

  .experiencia .empresa_ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    font-weight: bold;
  }
}


@media (max-width: 620px) {
  .experiencia .empresa {
    grid-template-columns: 1fr;
  }
}