/* ESTILO FOOTER */

.footer {
  background: #000;


  & .footer_container {
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
  }

  & .footer_texto {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccccc;
  }

  & .footer_contato li{
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 30px;
  }

  & .footer_contato a {
    text-decoration: none;
    color: #fff;
    transition: 0.42s;
  }

  & .footer_contato .link_linkedin a:hover  {
    color: #0A78B5;
  }

  & .footer_contato .link_git a:hover  {
    color: #E84D31;
  }

  & .footer_contato i {
    padding: 10px;
  }

  & .footer_copy {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #8f8f8f;
  }
}


@media (max-width: 800px) {
  .footer .footer_container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer .footer_contato li {
    font-size: 1.5rem;
  }
}