/* ESTILO INTRODUCAO */

:root {
  --font-color-h1: #141414;
  --font-color-p: #525252;
}


@media(prefers-color-scheme: dark) { /*config dark */
  :root {
    --font-color-h1: #efefef;
    --font-color-p: #c2c2c2;
  }
}

.introducao {
  max-width: 1200px;
  padding: 80px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;

  & h1 {
    color: var(--font-color-h1);
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
  }

  & h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url('../img/detalhe.svg') no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
  }

  & p {
    font-size: 1.5rem;
    color: var(--font-color-p);
  }

}

/* ESTILO RESPONSIVO */

@media (max-width: 870px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 630px) {
  .introducao {
    margin-top: 80px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0;
  }
}

@media (max-width: 450px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao img {
    display: none;
  }
}